@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
header[role=banner]{
	background-color: $primaryColor;
	position: relative;
	height: 170px;
}
.branding__top{
	padding: 20px 2.5%;
}
.branding__office,
.branding__phone{
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	p{
		font-family: $headlineFont;
		font-weight: 400;
		font-size: em(16px,$font-size);
		color: #fff;
		b{
			font-weight: 400;
			color: $tertiaryColor;
			text-transform: uppercase;
		}
	}
}
.header__contact{
	float: right;
}
nav[role=navigation]{
	background-color: $primaryColor;
	border-top: 2px solid $color1;
	border-bottom: 2px solid $color1;
	text-align: center;
	z-index: 3;
	ul{
		display: inline-block;
	}
	li{
		display: inline-block;
		position: relative;
		a{
			position: relative;
			display: inline-block;
			font-family: $headlineFont;
			font-weight: 400;
			font-size: em(18px,$font-size);
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 20px;
			padding: 15px 0;
			&:hover,
			&:focus{
				color: $tertiaryColor;
			}
		}
		
	}
	li:after{
		content: "";
		position: absolute;
		top: 15px;
		right: -3px;
		height: 20px;
		border-right: 2px solid $color1;
	}
	.button--cta{
		display: inline-block;
		background-color: $tertiaryColor;
		font-family: $headlineFont;
		font-weight: 400;
		font-size: em(18px,$font-size);
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px;
		span{
			font-size: 1.4em;
			line-height: 0em;
		}
	}
}
.hero{
	li{
		position: relative;
		img{
			width: 100%;
		}
	}
}
.slider__info{
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	text-align: center;
	a{
		font-family: $headlineFont;
		font-size: em(20px, $font-size);
		color: $tertiaryColor;
		line-height: 2.4em;
		text-transform: uppercase;
		text-decoration: none;
		span{
			font-size: 1.4em;
			line-height: 0em;
		}
	}
}
.service__top{
	font-family: $headlineFont;
	font-size: em(36px, $font-size);
	color: #fff;
	text-transform: uppercase;
}
.service__bottom{
	font-family: $headlineFont;
	font-size: em(105px, $font-size);
	font-weight: 700;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
}

.services__home{
	background-color: $secondaryColor;
	padding: 0 2.5% 20px;
	h2{
		font-family: $headlineFont;
		font-size: em(18px, $font-size);
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0;
	}
}
.service__home{
	figure{
		position: relative;
		img{
			width: 100%;
		}
	}
	p,li{
		font-family: $bodyFont;
		color: #fff;
		line-height: 1.6em;
	}
	p{
		margin-top: 20px;
	}
	ul{
		margin-top: 20px;
	}
}
.service__title{
	position: absolute;
	bottom: 20px;
	left: -10px;
	h3{
		background-color: #fff;
		font-family: $headlineFont;
		font-size: em(18px, $font-size);
		color: #000;
		text-transform: uppercase;
		padding: 10px 15px;
	}
	a{
		display: inline-block;
		background-color: $tertiaryColor;
		font-family: $headlineFont;
		font-size: em(14px, $font-size);
		font-weight: 700;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 15px;
	}
}
.capabilities__title{
	text-transform: uppercase;
	margin-bottom: 0px;
}
.capabilities__list{
	margin-top: 0px !important;
	li{
		list-style: none;
		color: #858585;
	}
}
.footer{
	background-color: $primaryColor;
	padding: 40px 2.5%;
	h2,p{
		color: #fff;
	}
	h2{
		font-family: $headlineFont;
		font-size: em(24px, $font-size);
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	p{
		font-family: $bodyFont;
		font-size: em(20px, $font-size);
		font-weight: 400;
		line-height: 1.6em;
		margin-bottom: 60px;
		a{
			color: $tertiaryColor;
		}
	}
}
.copyright{
	background-color: $color1;
	font-family: $bodyFont;
	font-size: em(16px, $font-size);
	color: #fff;
	text-align: center;
	padding: 20px;
}


/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";